// Define variables for your color scheme

// For example:
$red: #F45B69;
$blue: #0D6EFD;
$dark-blue: #114B5F;
$dark-gray: #909091;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
