<section class="footer">
  <h3> About Us </h3>
  <p>Sponty is a first real-time experience sharing platform.</p>
  <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
  </div>
  <p>Made with <i class="fas fa-heart"></i> by Sponty team</p>
  </div>
