<h1>Sponty</h1>
<p>Be spontaneous but stay organized!</p>

<%= form_tag experiences_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find the experience"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
