
.btn-red {
background-color: $red;
color: white;
transition: 0.3s;
}

.btn-red:hover {
  background-color: #db2a3a;
  color: white;

  }

.btn-create {
  width: 550px;
  height: 60px;
  border: solid, 0.04px;
  background-color: #F45B69;
    &:hover {
      background-color: #F45B69;
      opacity: 80%;
    }
  border-radius: 30px;
  outline: none;
  font-size: 18px;
  padding-left: 18px;
  color: white;
}

