.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 0.3s ease;
  align-items: center;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}


.card-category {
  background-size: cover;
  background-position: center;
  border: none;
  height: 230px;
  width: 360px;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 25px;
  letter-spacing: 1.2px;
  font-family: "Space Grotesk", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  position: relative;
  transition: transform .3s;

  h2 {
    color: white;
  }
}

.card-category:hover {
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.card-category:hover .info {
  transform: translateY(20px);
}


@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.createcard {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-top: 35px;
  margin-bottom: 30px;
  border-radius: 20;
}
