.index-left-map-right {
display: flex;
margin: 60px 30px 0 30px;
padding: inherit;
};

.experienxes {
  flex-grow: 1;
  align-items: center;
};

.experience-card {
  border: none;
  display: flex;
};

.experience-name-and-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
};

.search-bar {
  padding-right: inherit;
}

.search-bar form{
  padding: inherit;
}
.search-bar input{
  margin: 20px 0 20px 0;
}
