#new_message .form-control {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 0 !important;
}

.message:before {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0;
  content: '';
  border: 5px solid transparent;
  border-left-color: #62a8ea;
}

.text-message {
  margin: 0 !important;
  display: inline;

  width: 100%;
  #message_content {
    margin-top: 0 !important;
  }
}


.chatroom {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid .1px rgb(179, 174, 174);
  border-radius: 8px;
  h1 {
    text-align: center;
  }
  .messages {
    display: flex;
    flex-direction: column;
    .message-box {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      position: relative;
      float: right;
      padding: 8px 15px;
      margin: 0 0 10px 0;
      clear: both;
      color: #fff;
      background-color: #62a8ea;
      border-radius: 4px;
          -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
      p {
        color: black;
      }
      strong {
        color: $dark-gray;
      }
    }
  }
}

.user-message {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 20px;
}

.messages .right {
  align-self: end;

}

.messages .left {
  align-self: start;

}

small strong {
  display: flex;
  justify-content: space-between;
}

#email {
  display: none;
}

#message {
  display: flex;
    align-items: center;
    column-gap: 1rem;
}
