.navbar-wagon-link {
  font-size: 50px;
}

.navbar-lewagon {
  color:black;
  font-weight: bold;
  font-size: 20px;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
